<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .center {
            margin: auto;
            width: 50%;
            border: 3px solid blue;
            padding: 10px;
        }

        .button {
            background-color: #0000FF;
            /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: block;
            font-size: 16px;
            margin: 0 auto;
        }
    </style>>
</head>

<body>

    <div class='center'>
        <p>Please wait until you are prompted during your assigned study time to click the button below. Until then, feel free to exit this window.</p>
        <a class="button" href="https://miro.com/welcome/WldJOVVXQVowM000ZVJQMGVhU0x0SlM3Z0FVRE5HS3c3SzRwNHN5RkFKZ3VMMXRTNDNmaTVHMzJFaVFWSEhZa3wzMDc0NDU3MzYwOTE3Mjk0MzIw">Start Study</a>
    </div>
</body>

</html>